body {
  background: url(/assets/pexels-felix-mittermeier-956999.jpg) no-repeat fixed;
  background-size: cover;
}


.header{
  background-color: transparent;
}


.login {
  background-image: none;
}



.footer {
  background-color: transparent;
}